#########系统文件#########
.DS_Store
*/.DS_Store
**.DS_Store
.idea

########docker相关文件#######
!app/.gitkeep
!/docker/data/redis/.gitkeep
!/docker/data/clickhouse/.gitkeep
!/docker/data/mysql/.gitkeep
!/docker/data/redis/.gitkeep
!/docker/data/.gitkeep
!/docker/data/clickhouse/.gitkeep
!/docker/data/mysql/.gitkeep
!/docker/data/redis/.gitkeep

app/
/docker/data/clickhouse/*
/docker/data/mysql/*
/docker/data/redis/*
/docker/logs/clickhouse/*.log
/docker/logs/nginx/*.log
/docker/logs/php-fpm/*.log
/docker/logs/redis/*.log
/docker/logs/mysql/*.log

/docker/files/nginx/conf.d/work/
